.img-recolor-rojo {
  filter: invert(20%) sepia(100%) saturate(7000%) hue-rotate(0deg) brightness(90%) contrast(110%);
}

.btn-accion {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.btn-accion:hover {
  opacity: 0.75;
}